<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Pastebin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Pastebin.Properties.Settings>
            <setting name="DevKey" serializeAs="String">
                <value />
            </setting>
            <setting name="UserName" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="Visibility" serializeAs="String">
                <value>private</value>
            </setting>
            <setting name="PastebinLoginUrl" serializeAs="String">
                <value>https://pastebin.com/api/api_login.php</value>
            </setting>
            <setting name="PastebinPostUrl" serializeAs="String">
                <value>https://pastebin.com/api/api_post.php</value>
            </setting>
            <setting name="ListFormat" serializeAs="String">
                <value>Title: Key</value>
            </setting>
            <setting name="PastebinRAWUrl" serializeAs="String">
                <value>http://pastebin.com/raw.php?i=</value>
            </setting>
            <setting name="Expiration" serializeAs="String">
                <value />
            </setting>
        </Pastebin.Properties.Settings>
    </userSettings>
</configuration>